/*
1.LayoutWidth
2.Global
3.NavTop
4.Header
5.NavMid
6.Section 
7 Footer
8.@media
*/

/* <------------------- 1.LayoutWidth ----------------------->*/
@media (min-width: 940px) {
  .container {
    max-width: 970px;
  }
}
/* <---------------------- 2.Global -------------------------->*/

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
/* <------------------------ 3.Navtop -------------------------->*/

#navtop {
  padding: 1.8rem 0rem;
  border-bottom: 1px solid #e4e4e4;

  img {
    width: 26.5rem;
    height: 6.2rem;
  }
 
  #srh {
    position: relative;    

    #search {
      letter-spacing: 0.5px;
      font-weight: 700;
      font-size: 1.4rem;
      width: 21.2rem;
      height: 4.4rem;
      padding: 1.4rem 1.1rem 1.2rem;
      &:focus {
        border-color: #666;
        box-shadow: none;
      }
    }
    .fas {
      color: #af0061;
      font-size: 1.8rem;
      position: absolute;
      right: 0.5rem;;
      top: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
 
  .nav-link {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0.7rem;
    &:hover {
      background-color: rgba(237, 237, 237, 0.85);
    }
  }
 
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .animated-icon0 {
    width: 3rem;
    height: 2rem;
    // position: absolute;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .animated-icon0 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .animated-icon0 span {
    background: black;
  }
  .animated-icon0 span:nth-child(1) {
    top: 0px;
  }
  .animated-icon0 span:nth-child(2),
  .animated-icon0 span:nth-child(3) {
    top: 10px;
  }
  .animated-icon0 span:nth-child(4) {
    top: 20px;
  }
  .animated-icon0.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  .animated-icon0.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .animated-icon0.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .animated-icon0.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
}
