@keyframes photoHoverR {
    0% {
      transform: rotate(0deg) scale(1);
      // transform: scale(0.2) rotate(0deg);
    }
    100% {
      // opacity: 1;
      transform: rotate(10deg) scale(1.4);
      // transform: scale(1) rotate(765deg);
    }
  }
  @keyframes photoHoverL {
    0% {
      transform: rotate(0deg) scale(1);
      // transform: scale(0.2) rotate(0deg);
    }
    100% {
      // opacity: 1;
      transform: rotate(-10deg) scale(1.4);
      // transform: scale(1) rotate(765deg);
    }
  }
  @keyframes hedderButton {
    0% {
      box-shadow: -10px 10px 7px -2px rgba(27, 92, 222, 0.9);
    }
    100% {
      box-shadow: 10px -10px 7px -2px rgba(27, 92, 222, 0.9);
    }
  }
