$first-color:#3394D1;
$first-dark-color:#2283c0;
$second-color:#fff;
$third-color:#F5F5F5;
$four-color:#F9F9F9;
$five-color:#9B9B9B;
$six-color:#4A4A4A;


// $grid-breakpoints: (
  $xs: 340px;
  $sm: 576px;
  $md: 768px;  
  $lg: 992px;
  $xl: 1200px;
  $fhd: 1920px;
 