@import "_varibles";
@import "_mixin";

 //@import "_animation"; 
/*
1.Global;
2.Navbar;
3.Header;
4.First-row;
5.second-row;
6.four-row;
7.five-row;
8.examples;
9.form
10.MediaQueries;
*/
/* <------------------------- 1.Global --------------------------->*/
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  max-width: 1920px;
  color: $second-color;
}

.row,
.col,
[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
}

.navbar {
  font-size: 1.9rem;
  font-weight: 600;
  padding: 2rem 3rem;

  &-brand {
    display: block;
    width: 25rem;
    height: 4.5rem;
    margin-left: 1.5rem;
    background: url(../img/logo.png) center center no-repeat;
    background-size: 100% 100%;
    transition: 0.1s ease-in-out;

    &:hover {
      background: url(../img/logoH.png) center center no-repeat;
      background-size: 100% 100%;
    }
  }

  &-nav {
    & .nav-item {
      padding: 0rem 1.4rem;

      & .nav-link {
        padding: 0.3rem 1.2rem;
        transition: 0.2s ease-in-out;
        color: $second-color;

        &:hover {
          border-radius: 10rem;
          background: $first-color;
          color: $second-color;
        }

        &--bg {
          border-radius: 10rem;
          background: $second-color;
          color: $first-color;
        }

        &--border {
          border-radius: 10rem;
          padding: 0.1rem 1.2rem;
          border: 0.3rem solid $first-color;

          & img {
            transition: 0.3s ease-in-out;
          }

          &:hover img {
            transform: rotateY(180deg);
          }
        }
      }
    }
  }

  & .nav {
    &-social {
      transition: 0.3s ease-in-out;
      padding: 0.3rem;
      font-size: 2.5rem;
      color: $second-color;

      &:hover {
        border-radius: 10rem;
        transform: rotate(360deg);
        background: none;
      }
    }

    &-language {
      color: $second-color;
      padding-left: 3rem;

      &:hover {
        color: $five-color;
      }
    }
  }

  .navbar-toggler {
    border: none;
    height: 4.5rem;
    width: 6rem;
    // position: relative;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .animated-icon {
    width: 100%;
    height: 100%;
    // position: absolute;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .animated-icon span {
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 100%;
    border-radius: 0.9rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .animated-icon span {
    background: black;
  }

  .animated-icon span:nth-child(1) {
    top: 0rem;
  }

  .animated-icon span:nth-child(2),
  .animated-icon span:nth-child(3) {
    top: 1.5rem;
  }

  .animated-icon span:nth-child(4) {
    top: 3rem;
  }

  .animated-icon.open span:nth-child(1) {
    top: 1.1rem;
    width: 0%;
    left: 50%;
  }

  .animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .animated-icon.open span:nth-child(4) {
    top: 1.1rem;
    width: 0%;
    left: 50%;
  }
}

/* <------------------------- 2.Header --------------------------->*/
.header {
  width: 100%;
  height: 100vh;
  background: url(../img/headerBg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;

  &__text-box {
    width: 95rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & .heading-primary {
      margin-bottom: 3rem;
    }

    &--main {
      font-size: 6rem;
      font-weight: 700;
      line-height: 7rem;
    }

    &--sub {
      font-size: 2.5rem;
      line-height: 3.5rem;
      letter-spacing: 0.1rem;
    }

    &--button {
      transform: rotate(90deg);
      border-radius: 50%;
      filter: brightness(5);
      transition: 0.1s ease-in-out;
      width: 6rem;
      height: 6rem;
      background: url(../img/arrow.png) center center no-repeat;
      background-size: 100% 100%;

      &:hover {
        cursor: pointer;
        filter: brightness(1);
        transform: rotate(90deg) scale(1.1);
      }
    }
  }
}
/* <------------------------- 3.First-row--------------------------->*/
.first-row {  

  &:hover .first-row__img--bottom{
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
  }
  &:hover .first-row__img--top{
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
  }
  
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70rem;
      position: relative;
  
      &--top {
        @include centerAbsolute(45%, 50%);
        width: 60rem;
        height: 60rem;
        z-index: 200;
        transition: 0.2s ease-in-out;
      }
  
      &--bottom {
        @include centerAbsolute(50%, 65%);
        width: 60rem;
        height: 60rem;
        z-index: 100;
        transition: 0.2s ease-in-out;
      }
    }
  
    &__description {
      height: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      &--title {
        align-self: flex-start;
        font-size: 6rem;
        font-weight: 700;
        line-height: 7rem;
        width: 40rem;
        color: $first-color;
        margin-bottom: 2.5rem;
        margin-left: 1rem;
      }
  
      &--sub {
        width: 60rem;
        font-size: 2.2rem;
        line-height: 3.5rem;
        color: $five-color;
      }
    }
  }
  
  /* <------------------------- 4.second-row--------------------------->*/
  .second-row {
    background: $third-color;
    position: relative;
    right: 10rem; 
  
    &:hover .second-row__img--top{
      box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
    }
  
    &:before {
      content: '';
      position: absolute;
      top: 5rem;
      right: -1rem;
      z-index: 1000;
      width: 1rem;
      height: 35rem;
      background: $first-color;
    }
  
    & .rowBox {
      position: relative;
      right: -10rem;
    }
  
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70rem;
  
      &--top {
        position: relative;
        left: 3.5rem;
        width: 60rem;
        height: 60rem;
        transition: 0.2s ease-in-out;
      }
    }
  
    &__description {
      height: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      &--title {
        align-self: flex-start;
        font-size: 6rem;
        font-weight: 700;
        line-height: 7rem;
        width: 40rem;
        margin-bottom: 2.5rem;
        margin-left: 1rem;
        color: $first-color;
      }
  
      &--sub {
        margin-left: 5.5rem;
        width: 60rem;
        font-size: 2.2rem;
        line-height: 3.7rem;
        color: $five-color;
      }
    }
  }
  
  /* <------------------------- 5.four-row--------------------------->*/
  .four-row {
    background: $first-color;
    position: relative;
    left: 10rem; 
  
    &:hover .four-row__img--top{
      box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
    }
  
    &:before {
      content: '';
      position: absolute;
      top: 5rem;
      left: -1rem;
      z-index: 1000;
      width: 1rem;
      height: 35rem;
      background: $six-color;
    }
  
    & .rowBox {
      position: relative;
      left: -10rem;
    }
  
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70rem;
      position: relative;
  
      &--top {
        position: relative;
        left: 3.5rem;
        width: 60rem;
        height: 60rem;
        transition: 0.2s ease-in-out;
      }
    }
  
    &__description {
      height: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      &--title {
        align-self: flex-start;
        font-size: 6rem;
        font-weight: 700;
        line-height: 7rem;
        width: 40rem;
        margin-bottom: 2.5rem;
        margin-left: 1rem;
        color: $second-color;
      }
  
      &--sub {
        margin-left: 5.5rem;
        width: 60rem;
        font-size: 2.2rem;
        line-height: 3.7rem;
        color: $second-color;
      }
    }
  }
  
  /* <------------------------- 6.five-row--------------------------->*/
  .five-row {
    &__img {
      &--top {
        @include centerAbsolute(50%, 50%);
      }
      
      &--bottom {
        @include centerAbsolute(45%, 65%);
      }
    }
  }
  /* <------------------------- 7.examples-row--------------------------->*/
.realization-example {
  height: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 600;
    padding: 0rem 1rem;
    margin-bottom: 7rem;
    background: $first-color;
  }

  &__button {
    font-size: 3rem;
    line-height: 5rem;
    color: #fff;
    padding: 0rem 2rem;
    border-radius: 5rem;
    background: $first-color;
    border: 0.3rem solid $first-color;

    &:hover {
      background: $second-color;
      color: $first-color;
    }
  }

  &__imgRow {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 7rem;

    & .imgBox {
      margin: 1.2rem;
      background: $four-color;
      position: relative;
      padding: 0.5rem 3rem;
      width: 25rem;
      height: 33rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;

      &:hover {
        box-shadow: 0px 6px 23px -2px rgba(0,0,0,0.75);
      }

      &__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.3rem;
        color: $five-color;
      }

      &__description {
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.2rem;
        color: $six-color;
      }

      &__img {
        position: absolute;
        top: -4rem;
        left: 52%;
        transform: translateX(-50%);
        width: 25rem;
        height: 30rem;
      }
    }
  }
}
/* <------------------------- 8.form-row--------------------------->*/
.form-row {
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  background: url(../img/form.png);
  background-size: 100% 100%;

  &__title {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: $first-color;
    margin-bottom: 2.5rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--input {
      width: 62.5rem;
      height: 4.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.3rem;
      color: $six-color;
      padding: 0.5rem 1rem;
      border: 0.1rem solid $five-color;
      background: transparent;
    }

    &--textarea {
      width: 62.5rem;
      height: 15rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.3rem;
      color: $six-color;
      padding: 0.5rem 1rem;
      border: 0.1rem solid $five-color;
      background: transparent;
    }

    &--reg {
      width: 62.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      margin-bottom: 3rem;

      & .btn-attachment {
        background: $first-color;
        color: $second-color;
        font-size: 1.4rem;
        line-height: 2.3rem;
        padding: 0rem 1.5rem;
        border-radius: 5rem;

        &:hover {
          background: $first-dark-color;
        }
      }

      .reg-check {
        display: flex;
        align-items: center;
        #trigger {
          display: none;
        }
  
        .checker {
          background: url(../img/czekno.png) left top no-repeat;
          background-size: 100% 100%;
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 0.7rem;
          margin-top: 0.4rem;;
        }
  
        #trigger:checked+.checker {
          background: url(../img/czekok.png) left top no-repeat;
          background-size: 100% 100%;
        }
  
        & .description {
          font-size: 1.4rem;
          font-weight: 500;
          margin: 0;
          color: $six-color;
        }
      }
     
    }

    &--submit {
      font-size: 3rem;
      line-height: 5rem;
      background: transparent;
      color: $first-color;
      padding: 0rem 3rem;
      border: 0.3rem solid $first-color;
      border-radius: 10rem;

      &:hover {
        background: $first-color;
        color: $second-color;
      }
    }
  }
}


@import "_mediaQuery";