@keyframes photoHoverR {
    0% {
      transform: rotate(0deg) scale(1);
      // transform: scale(0.2) rotate(0deg);
    }
    100% {
      // opacity: 1;
      transform: rotate(10deg) scale(1.4);
      // transform: scale(1) rotate(765deg);
    }
  }
  @keyframes photoHoverL {
    0% {
      transform: rotate(0deg) scale(1);
      // transform: scale(0.2) rotate(0deg);
    }
    100% {
      // opacity: 1;
      transform: rotate(-10deg) scale(1.4);
      // transform: scale(1) rotate(765deg);
    }
  }
  @keyframes photoSize {
    0% {
      width: 100%;
    }
    100% {
      width: 150%;
    
    }
  }
