$prim-color: #202020;
$form-font-color:rgb(179, 176, 171);
$mid-blue:rgb(46, 106, 225);
$green:rgb(145, 195, 0);

// $grid-breakpoints: (
  $xs: 340px;
  $sm: 576px;
  $md: 768px;  
  $lg: 992px;
  $xl: 1200px;
  $fhd: 1920px;
 