// Extra small devices (portrait phones, less than 576px)


@mixin media-breakpoint-up ($resol){
    @media (min-width: $resol) { @content;}
    
}

@mixin rotateBackground($width,$degre,$path,$bh) {
    content: "";
    position: absolute;
    width: $width;
    height: 200%;
    top: -50%;
    left: -50%;
    /* z-index: 10; */
    transform: rotate($degre);
    background: url($path) no-repeat center;    
    background-size: $bh auto;
  }

  @mixin backgroundPhoto($path,$bh){
    background: url($path) no-repeat center;  
    background-size: $bh auto;
  }
@mixin flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonAnimB($time){
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 20%;        
  background: $green;
  border-radius: 2px;        
  transition: all $time ease-out;  
}
@mixin buttonAnimT($time){
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 25%;        
  background: $green;
  border-radius: 2px;        
  transition: all $time cubic-bezier(.14,1.59,.79,.06);
}