$color-background: #f5f5f5;
// $color-main: #ffffff;
// $color-active: #2d5898;
$color-link: #2d5898;
$color-toggle: #2d5898;

$button-height: 2.7rem;
$button-width: 5rem;

// $grid-breakpoints: (
  $xs: 340px;
  $sm: 576px;
  $md: 768px;  
  $lg: 992px;
  $xl: 1200px;
  $fhd: 1920px;
 