@import "_mixin";
@import "_varibles";
/*
1.Global;
2.Navbar/MobileMenu;
3.Header/Carousel;
4.YellowIcon;
5.TitleSection;
6.Articles;
7.Slider;
8.Footer;
9.MediaQueries;
*/

/* <------------------------- 1.Global --------------------------->*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* <------------------------- 3.Navbar / mobileMenu --------------------------->*/
.navbar {
  @include trans;
  transition: all 0.2s ease-in-out; 
  padding: 1rem;
 
      .navbar-brand {    
            width: 12rem;     
      img {
        width: 100%;
        height: auto;
      }
    }
    .navbar-toggler {
      border: none;     
      height: 4.5rem;
      width: 5rem;
      position: relative;
      z-index: 7000;    
    }
    .navbar-toggler:focus {
      outline: none;
    }

    .button_container {
      display: block;     
      position: absolute;
      top: 0%;      
      left: 0%;
      height: $button-height;
      width: $button-width;     
      transition: opacity 0.25s ease;
      
      &:hover {
        opacity: 0.7;
      }
      
      &.active {
        z-index: 6000;
        .top {
          transform: translateY(1.85rem) translateX(0) rotate(45deg);
          background: $color-toggle;          
        }
        .middle {
          opacity: 0;
          background: $color-toggle;
        }
        
        .bottom {        
          transform: translateY(-1.85rem) translateX(0) rotate(-45deg);
          background: $color-toggle;
        }
      }

      span {
        background: $color-toggle;
        border: none;
        height: 0.6rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.35s ease;

        &:nth-of-type(2) {
          top: 1.9rem;
        }

        &:nth-of-type(3) {
          top: 3.7rem;
        }
      }
    }  

  .nav-link {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin-right: 3.5rem;
    padding: 0.5rem 0.5rem;
    @include trans();

    &:hover {
      transform: translateY(-0.5rem);
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 0rem;
      background: #ffda1a;
      @include trans();
    }

    &:hover::before {
      height: 0.5rem;
    }
  } 

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
/* <------------------------- 4.Header / Carousel --------------------------->*/
.header {
  height: 65rem;
  position: relative;
  background: #9b9b9b;

  .carousel {
    .fas {
      font-size: 3.6rem;
    }
    .carousel-control-prev {
      .fas {
        position: relative;
        left: -2rem;
      }
      @include trans();
      &:hover .fas {
        color: #ffda1a;
        transform-origin: 100% 50%;
        transform: scale(1.2);
      }
    }
    .carousel-control-next {
      .fas {
        position: relative;
        left: 2rem;
      }
      @include trans();
      &:hover .fas {
        color: #ffda1a;
        transform-origin: 0% 50%;
        transform: scale(1.2);
      }
    }

    &__img1 {
      width: 100%;
      height: 65rem;
      background: url(../img/big_foto1.png) center center no-repeat;
      background-size: cover;
    }
    &__img2 {
      width: 100%;
      height: 65rem;
      background: url(../img/big_foto2.png) center center no-repeat;
      background-size: cover;
    }
    &__img3 {
      width: 100%;
      height: 65rem;
      background: url(../img/big_foto3.png) center center no-repeat;
      background-size: cover;
    }
    &__img4 {
      width: 100%;
      height: 65rem;
      background: url(../img/big_foto4.jpg) center center no-repeat;
      background-size: cover;
    }
  }

  &__text-box {
    width: 67rem;
    position: absolute;
    @include centerAbsolute(50%, 54%);
    text-align: center;
    & .heading-primary {
      margin-bottom: 2rem;
    }

    &--main {
      font-size: 5.6rem;
      line-height: 6.7rem;
      letter-spacing: 0.2rem;
      font-weight: 700;
      margin-bottom: 2.8rem;
    }
    &--sub {
      font-size: 5.6rem;
      color: #ffffff;
      letter-spacing: 0.2rem;
      line-height: 6.7rem;
      font-weight: 300;
      margin-bottom: 2.8rem;
    }
    &--button {
      font-size: 2.4rem;
      width: 18rem;
      height: 5rem;
      background: none;
      border: 2px solid #ffda1a;
      border-radius: 100px;
      color: #ffffff;
      @include trans();
      &:hover {
        cursor: pointer;
        transform: translateY(-0.3rem);
        background: #ffda1a;
        box-shadow: 0px 2px 7px -1px rgba(27, 92, 222, 0.9);
      }
    }
  }
}

@import "_mediaQuery";
// //=======================================================================================
